@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>


<body>
    <h1 class="center">What do you want to order?</h1>
    <br />
    <form class="form-horizontal select-heading" action="Index" method="post">

        <div class="form-group">

            @{   
                <!--Number Of Pizzas-->
                <label class="control-label col-sm-5">Number of Pizzas:</label>
                <div>
                     <input type="number" class="form-control" name="NoOfPizzas" value="0"/>
                </div>
                <br />
                //int NoOfPizzas2 = Request.Form["NoOfPizzas"];
                //for (int i = 0; i < NoOfPizzas2; i++)
                {
                    <!--Dietary Requirements-->
                    <label class="control-label col-sm-5">Dietary Requirements:</label>
                    <div class="DietaryRequirements">
                        <div class="checkbox-inline">
                            <input type="checkbox" value="">Gluten Free
                        </div>
                        <div class="checkbox-inline">
                            <input type="checkbox" value="">Chicken and Seafood
                        </div>
                        <div class="checkbox-inline">
                            <input type="checkbox" value="">Vegetarian
                        </div>
                    </div>
                }
            }
            
        
        </div>
    </form>

    @foreach (var i in ViewBag.hello)
    {
        <h1> @i.CompanyName </h1>
        <h2> @i.CompanyDesc </h2>
        <br />
    }



</body>
















