@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>What you should order!</title>
</head>
<body>
    <div>
    <h1> What You Said. </h1>
        <h3>@ViewBag.NoOfPizzas</h3>
        <h3>@ViewBag.DR</h3>
        <h3>@ViewBag.Delivery</h3>

    </div>
</body>
</html>
